*{
    margin:0;
}
header{
    background-color: bisque;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
}
body{
    width: 100%;
    background-color: rgb(236, 219, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* HEADER */
.logo img{
    width:10%;
    padding: 3px;
}
nav ul {
    list-style: none;
    padding: 10px;
}

/* NEW POST  */
.newPost{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    
}
.newPost h2{
    padding:3em 0 1em 0em;
}

img{
    padding-top: 5em;
}
#imgProduct{
    height: 360px;
    width: 360px;
    margin:2em;
}

.formulario{
    display:flex;
    flex-direction: column;
    width:50%;
    flex-wrap: wrap;
    
}
fieldset{
    padding: 1em ;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5em;
    flex-wrap: wrap;
}
 fieldset textarea{
    width:100%;
    height: 150px;
    box-sizing: border-box;
    border:2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
 }
 /* REVIEWS LOG*/
.star-rating .new-star-rating{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.star-rating a{
    display:inline-block;
    color:gray;
    
} 
.star-rating a:hover{
    color:yellow;
}
.star-rating:hover a:hover ~ a{
    color:gray;
}
.reviews{
    width: 90%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:1em;
    padding-top: 30px;
    padding:2em 0 4em 0;

}
.opiniones{
    width: 90%;
      
}
.registro{
    
    border:1px solid black;
    display:flex;
    padding: 0px 5px 0px 5px;
    justify-content: space-between;

   
}
 .post{
    width:65%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    background-color: rgb(223, 206, 183);
    padding: 5px;


 }
 .opciones{
    width:25%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }

.strY{
    color: yellow;
    display: inline-block;
}
.strG{
    display:inline-block;
    color:grey;
}
button{
    color:white;
    border:none;
    padding: 5px;;
}
button:hover{
    border:3px solid white;
}
.editBtn{
    background-color: rgb(204, 146, 127);   
}
.deleteBtn{
    background-color: rgb(120, 47, 47);  
}

.hide{
    display:none;
}